:root {
  --foreground: hsl(0, 0%, 100%);
  --background: hsl(0, 0%, 98%);
  --text: hsl(200, 15%, 8%);
  --hint: hsl(0, 0%, 52%);
}

.dark {
  --foreground: hsl(209, 23%, 22%);
  --background: hsl(207, 26%, 17%);
  --text: hsl(0, 0%, 100%);
  --hint: hsl(0, 0%, 100%);
}

#theme-div {
  min-height: 100%;
  height: fit-content;
  background-color: var(--background);
}
